@{
    ViewBag.Title = "Inicio";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Ofrecemos soluciones modernas para hacer crecer su negocio.</h1>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center" style="border-radius: 20px;">
                            <span>Empezar</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="assets/img/grupo1.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

        <div class="container" data-aos="fade-up">
            <div class="row gx-0">
                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content" style="border-radius: 10px;">
                        <h3>QUIENES SOMOS</h3>
                        <h2>
                            En VALENT FRANCE, estamos orgullosos de estar a la vanguardia de la industria textil en Perú
                            desde hace 5 años.
                        </h2>
                        <p>
                            Somos parte de la historia reciente de nuestro país, trabajamos fuertemente en el presente y
                            estamos dispuestos a apostar por el futuro
                        </p>
                        <div class="text-center text-lg-start">
                            <a href="views/nosotros.php" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center" style="border-radius: 20px;">
                                <span>Más sobre nosotros</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="" style="border-radius: 50px;">
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Valores</h2>
                <p>Nuestros Valores</p>
            </header>

            <div class="row">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="box" style="border-radius: 20px;">
                        <img src="assets/img/services/servicio1.png" class="img-fluid" alt="">
                        <h3>ESTAMOS A LA VANGUARDIA DE LA MODA.</h3>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="box" style="border-radius: 20px;">
                        <img src="assets/img/services/servicios2.png" class="img-fluid" alt="">
                        <h3>SOMOS INNOVADORES.</h3>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
                    <div class="box" style="border-radius: 20px;">
                        <img src="assets/img/values-3.png" class="img-fluid" alt="">
                        <h3>SOMOS EFICACES Y EFICIENTES.</h3>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Values Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Servicios</h2>
                <p>Ofrecemos los siguientes servicios</p>
            </header>

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-box blue">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Diseño y Desarrollo de Tejidos</h3>
                        <p style="text-align: justify;">Creación y desarrollo de tejidos únicos, ya sea mediante la creación de diseños propios o a partir de especificaciones proporcionadas por los clientes.</p>
                        <a href="#" class="read-more" data-bs-toggle="modal" data-bs-target="#servicio1"><span>Leer Más</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-box orange">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Confección de Prendas</h3>
                        <p style="text-align: justify;">Fabricación de ropa y otros productos textiles. Esto puede incluir desde la confección en masa de prendas hasta la producción de piezas personalizadas bajo pedido.</p>
                        <a href="#" class="read-more" data-bs-toggle="modal" data-bs-target="#servicio2"><span>Leer Más</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-box green">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Estampado y Bordado</h3>
                        <p style="text-align: justify;">Servicios especializados en la personalización de textiles mediante técnicas de estampado y bordado, permitiendo la creación de diseños únicos y la identificación de marcas o logos en las prendas.</p>
                        <a href="#" class="read-more" data-bs-toggle="modal" data-bs-target="#servicio3"><span>Leer Más</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-box red">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Acabados y Tratamientos Especiales</h3>
                        <p style="text-align: justify;">Aplicación de acabados especiales a los textiles, como impermeabilización, tratamientos antiarrugas, protección UV, entre otros, para mejorar las propiedades y funcionalidades de los productos textiles.</p>
                        <a href="#" class="read-more" data-bs-toggle="modal" data-bs-target="#servicio4"><span>Leer Más</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                    <div class="service-box pink">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Logística y Distribución</h3>
                        <p style="text-align: justify;">Gestión de la cadena de suministro, almacenamiento, y distribución de productos textiles. Esto puede incluir servicios como el embalaje, etiquetado, y envío de productos a diferentes puntos de venta o clientes finales, incluyendo exportaciones a otros países.</p>
                        <a href="#" class="read-more" data-bs-toggle="modal" data-bs-target="#servicio5"><span>Leer Más</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Services Section -->
    <!-- modales -->
    <div class="modal fade" id="servicio1" tabindex="-1" aria-labelledby="modalservicio1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 badge bg-info" id="modalservicio1">Diseño y Desarrollo de Tejidos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="text-align: justify;">Este servicio es fundamental para cualquier empresa textil. Se centra en la creación y desarrollo de tejidos únicos que pueden marcar la diferencia en el mercado. Los diseñadores de tejidos trabajan en la conceptualización, diseño, y producción de patrones y texturas que luego se transforman en telas. Utilizan diversas técnicas y tecnologías para experimentar con diferentes materiales, colores y patrones. El objetivo es crear tejidos que no solo sean estéticamente atractivos sino también funcionales y duraderos, adecuados para diferentes tipos de prendas y aplicaciones.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="servicio2" tabindex="-1" aria-labelledby="modalservicio2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 badge bg-warning" id="modalservicio2">Confección de Prendas</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="text-align: justify;">La confección de prendas es otro pilar fundamental en la industria textil. Este servicio implica transformar los tejidos diseñados y desarrollados en prendas acabadas. Las empresas textiles suelen tener talleres de confección equipados con maquinaria especializada y personal altamente capacitado. Desde la toma de medidas, corte de telas, ensamblaje, hasta el acabado final, este proceso garantiza que las prendas cumplan con los estándares de calidad y diseño establecidos. Pueden producir en masa o realizar producciones más pequeñas y personalizadas según las necesidades del cliente.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="servicio3" tabindex="-1" aria-labelledby="modalservicio3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 badge bg-success" id="modalservicio3">Estampado y Bordado</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="text-align: justify;">El estampado y bordado son técnicas utilizadas para personalizar y decorar textiles. Las empresas ofrecen servicios de estampado mediante diferentes métodos, como serigrafía, impresión digital, o sublimación, permitiendo la aplicación de diseños, logos, o patrones en las telas. Por otro lado, el bordado manual o computarizado añade un valor distintivo a las prendas, ofreciendo acabados de alta calidad y durabilidad. Estos servicios son especialmente demandados por marcas que buscan diferenciarse y crear productos únicos en el mercado.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="servicio4" tabindex="-1" aria-labelledby="modalservicio4" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 badge bg-danger" id="modalservicio4">Acabados y Tratamientos Especiales</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="text-align: justify;">Los acabados y tratamientos especiales son procesos aplicados a los textiles para mejorar sus propiedades y funcionalidades. Esto puede incluir tratamientos antiarrugas, impermeabilización, protección UV, antimicrobianos, entre otros. Estos acabados no solo mejoran la calidad y durabilidad de los productos textiles, sino que también ofrecen características específicas según las necesidades del cliente o del mercado objetivo. Las empresas invierten en investigación y desarrollo para ofrecer soluciones innovadoras que se adapten a las tendencias y demandas actuales del sector textil.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="servicio5" tabindex="-1" aria-labelledby="modalservicio5" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 badge bg-primary" id="modalservicio5" ">Logística y Distribución</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="text-align: justify;">La logística y distribución son esenciales para garantizar que los productos textiles lleguen a los clientes de manera eficiente y puntual. Este servicio abarca una serie de actividades, desde la gestión de inventario, almacenamiento, embalaje, hasta el transporte y entrega de productos. Las empresas textiles deben coordinar una cadena de suministro eficiente para manejar grandes volúmenes de productos, especialmente si se trata de exportaciones a otros países. Esto implica trabajar con proveedores, transportistas, agentes aduanales, y otras partes involucradas para garantizar que los productos se muevan sin problemas desde el punto de producción hasta el punto de venta final. Una gestión logística efectiva permite a las empresas cumplir con los plazos de entrega, minimizar costos, y satisfacer las demandas de los clientes, tanto a nivel local como internacional.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- fin modales -->
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Preguntas</h2>
                <p>Preguntas Frecuentes</p>
            </header>

            <div class="row">
                <div class="col-lg-6">
                    <!-- F.A.Q List 1-->
                    <div class="accordion accordion-flush" id="faqlist1">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-1">
                                    ¿Qué tipo de materiales utilizamos en nuestros productos textiles?
                                </button>
                            </h2>
                            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    Utilizamos una variedad de materiales de alta calidad, incluyendo algodón orgánico,
                                    poliéster reciclado y mezclas de fibras naturales y sintéticas.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-2">
                                    ¿Cómo puedo cuidar mis productos textiles para que duren más tiempo?
                                </button>
                            </h2>
                            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    Recomendamos seguir las instrucciones de cuidado específicas que se encuentran en la
                                    etiqueta de cada producto. Por lo general, lavar en agua fría y secar a baja
                                    temperatura puede ayudar a prolongar la vida útil de tus textiles.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-3">
                                    ¿Ofrecen opciones personalizadas o de marca para pedidos al por mayor?
                                </button>
                            </h2>
                            <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    Sí, ofrecemos servicios de personalización y branding para pedidos al por mayor.
                                    Ponte en contacto con nuestro equipo de ventas para más detalles.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6">
                    <!-- F.A.Q List 2-->
                    <div class="accordion accordion-flush" id="faqlist2">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq2-content-1">
                                    ¿Dónde se fabrican sus productos?
                                </button>
                            </h2>
                            <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    Nuestros productos se fabrican en instalaciones seleccionadas por su compromiso con
                                    la calidad, la ética laboral y la sostenibilidad.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq2-content-2">
                                    ¿Puedo devolver o cambiar un producto si no estoy satisfecho?
                                </button>
                            </h2>
                            <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    Sí, ofrecemos una política de devolución y cambio de 30 días desde la fecha de
                                    compra. Asegúrate de conservar tu recibo y seguir las instrucciones de devolución en
                                    nuestro sitio web.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq2-content-3">
                                    ¿Qué métodos de pago aceptan?
                                </button>
                            </h2>
                            <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    Aceptamos una variedad de métodos de pago, incluyendo tarjetas de crédito/débito,
                                    Plin, Yape, transferencias bancarias y más. Puedes encontrar más detalles en nuestra
                                    sección de métodos de pago en línea.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End F.A.Q Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Nuestras Lineas</h2>
                <p>Nuestra variedad de lineas</p>
            </header>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Todo</li>
                        <li data-filter=".filter-app">Niños / Niñas</li>
                        <li data-filter=".filter-card">Damas</li>
                        <li data-filter=".filter-web">Caballeros</li>
                    </ul>
                </div>
            </div>

            <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap" style="border-radius: 10px;">
                        <img src="assets/img/productos/niño1.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Polo Navideño unise</h4>
                            <p>Niños / Niñas</p>
                            <div class="portfolio-links">
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap" style="border-radius: 10px;">
                        <img src="assets/img/productos/varon1.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap" style="border-radius: 10px;">
                        <img src="assets/img/productos/niña2.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Polo box Niños</h4>
                            <p>Niños / Niñas</p>
                            <div class="portfolio-links">
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap" style="border-radius: 10px;">
                        <img src="~/assets/img/productos/CASACADAMAS.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Casaca Para Damas</h4>
                            <p>Damas</p>
                            <div class="portfolio-links">
                                <a href="@Url.Action("Contact", "Home")"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap" style="border-radius: 10px;">
                        <img src="assets/img/productos/varon2.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 2</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap" style="border-radius: 10px;">
                        <img src="assets/img/productos/niños3.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 3</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap" style="border-radius: 10px;">
                        <img src="~/assets/img/productos/ashley.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Polo ashley</h4>
                            <p>Damas</p>
                            <div class="portfolio-links">
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap" style="border-radius: 10px;">
                        <img src="~/assets/img/productos/palta.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Polo manga larga huacamole</h4>
                            <p>Damas</p>
                            <div class="portfolio-links">
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap" style="border-radius: 10px;">
                        <img src="assets/img/productos/varon3.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Equipo</h2>
                <p>Nuestro equipo de trabajo</p>
            </header>

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Walter White</h4>
                            <span>Chief Executive Officer</span>
                            <p>
                                Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
                                exercitationem iure minima enim corporis et voluptate.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Sarah Jhonson</h4>
                            <span>Product Manager</span>
                            <p>
                                Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit
                                corporis. Voluptate sed quas reiciendis animi neque sapiente.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>William Anderson</h4>
                            <span>CTO</span>
                            <p>
                                Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates
                                enim aut architecto porro aspernatur molestiae modi.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Amanda Jepson</h4>
                            <span>Accountant</span>
                            <p>
                                Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid
                                doloremque ut possimus ipsum officia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Team Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <h2>Contacto</h2>
                <p>Comunicate con nosotros</p>
            </header>
            <div class="row gy-4">

                <div class="col-lg-6">

                    <div class="row gy-4">
                        <div class="col-md-6">
                            <div class="info-box" style="border-radius: 20px;">
                                <i class="bi bi-geo-alt"></i>
                                <h3>Ubicacion</h3>
                                <p>Calle 2 Los Productores<br>Santa Anita, Lima Perú</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box" style="border-radius: 20px;">
                                <i class="bi bi-telephone"></i>
                                <h3>Telefonos</h3>
                                <p>+51 987654321</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box" style="border-radius: 20px;">
                                <i class="bi bi-envelope"></i>
                                <h3>Envianos un correo</h3>
                                <p>info@example.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box" style="border-radius: 20px;">
                                <i class="bi bi-clock"></i>
                                <h3>Horarios de Aperturas</h3>
                                <p>Lunes - Sabado<br>10:00 AM - 08:00 PM</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <form action="forms/contact.php" method="post" class="php-email-form" style="border-radius: 20px;">
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Nombre y Apellido"
                                       required style="border-radius: 20px;">
                            </div>

                            <div class="col-md-6 ">
                                <input type="email" class="form-control" name="email" placeholder="Correo Electronico"
                                       required style="border-radius: 20px;">
                            </div>

                            <div class="col-md-12">
                                <input type="text" class="form-control" name="subject" placeholder="Subjeto" required
                                       style="border-radius: 20px;">
                            </div>

                            <div class="col-md-12">
                                <textarea class="form-control" name="message" rows="6" placeholder="Escriba su Mensaje"
                                          required style="border-radius: 15px;"></textarea>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>

                                <button type="submit" style="border-radius: 15px;">Enviar Mensaje</button>
                            </div>

                        </div>
                    </form>

                </div>

            </div>
        </div>
    </section><!-- End Contact Section -->
</main><!-- End #main -->