
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>Usuarios</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="breadcrumb-item">Componentes</li>
            <li class="breadcrumb-item active">Usuarios</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    Opciones de usuario
                </div>
                <div class="card-body">
                    <div class="my-4"></div>
                    <button type="button" class="btn btn-outline-success" onclick="abrirmodal(null)">Nuevo Usuario</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tabla de usuarios registrados</h5>
                    <!-- Table with stripped rows -->
                    <table class="display table table-striped" id="tablausuarios" width="100%">
                        <thead>
                            <tr>
                                <th>Documento</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Nombre usuarios</th>
                                <th>Correo</th>
                                <th>Nivel de Acceso</th>
                                <th>Contraseña</th>
                                <th>Fecha Registro</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal usuarios-->
<div class="modal fade" id="UsuariosModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="UsuariosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <span class="badge border-primary border-1 text-primary"><h1 class="modal-title fs-5 fw-semibold" id="UsuariosModalLabel">Agregar Nuevo Usuario</h1></span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="txtid" type="hidden" value="0" />
                <form class="row g-3" autocomplete="off">
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="documento" placeholder="name@example.com" maxlength="8" onkeypress="return SoloNumeros(event);" required>
                            <label for="documento">Documento</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nombres" placeholder="name@example.com" disabled required>
                            <label for="nombres">Nombres</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="apellidos" placeholder="name@example.com" disabled required>
                            <label for="apellidos">Apellidos</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nombreusuario" placeholder="name@example.com" onkeypress="return SoloLetras(event);" required>
                            <label for="nombreusuario">Nombre de Usuario</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="correo" placeholder="name@example.com" required>
                            <label for="correo">Correo</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="clave" placeholder="name@example.com" required>
                            <label for="clave">Contraseña</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <select class="form-select" id="nivelacceso" aria-label="Floating label select example" required>
                                <option selected disabled>Elige un Nivel de acceso</option>
                            </select>
                            <label for="nivelacceso">Estado</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <select class="form-select" id="listaestado" aria-label="Floating label select example" required>
                                <option selected disabled>Elige un estado</option>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                            <label for="listaestado">Estado</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-outline-primary bi bi-floppy-fill" onclick="guardar()">Registrar Usuario</button>
            </div>
        </div>
    </div>
</div>
<!-- fin modal usuarios -->

@section scripts {
    <script>
        function SoloNumeros(evt) {
            if (window.event) {
                keynum = evt.keyCode;
            }
            else {
                keynum = evt.which;
            }

            if ((keynum > 47 && keynum < 58) || keynum == 8 || keynum == 13) {
                return true;
            }
            else {
                alert("Ingresar solo numeros");
                return false;
            }
        }

        function SoloLetras(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toString();
            letras = "ABCDEFGHIJKLMNOPQRSTUVWXYZÁÉÍÓÚabcdefghijklmnopqrstuvwxyzáéíóú";

            especiales = [8, 13];
            tecla_especial = false
            for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }

            if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                alert("Ingresar solo letras");
                return false;
            }
        }

        // Utilizando api de dni
        $(document).ready(function () {
            $('#documento').on('blur', function () {
                var numeroDNI = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '/Home/ObtenerInformacionDNI',
                    data: { numeroDNI: numeroDNI },
                    success: function (data) {
                        $('#nombres').val(data.nombres);
                        $('#apellidos').val(data.apellidoPaterno + ' ' + data.apellidoMaterno);
                    },
                    error: function (error) {
                        console.error(error.responseText);
                    }
                });
            });
        });

        // Cuando el modal se cierra, limpiar los campos
        $(document).ready(function () {
            $('#UsuariosModal').on('hidden.bs.modal', function () {
                $('#txtid').val(0);
                $('#documento').val('');
                $('#nombres').val('').prop('disabled', true);
                $('#apellidos').val('').prop('disabled', true);
                $('#nombreusuario').val('');
                $('#correo').val('');
                $('#clave').val('');
                $('#nivelacceso').val($('#nivelacceso option:first').val());
                $('#listaestado').val($('#listaestado option:first').val());
            });
        });

        $.ajax({
            url: '@Url.Action("listarNivelAcceso", "Home")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var select = $('#nivelacceso');
                select.empty();
                select.append('<option selected disabled>Elige un Nivel de acceso</option>');

                $.each(data.data, function (index, item) {
                    select.append('<option value="' + item.id + '">' + item.nombre + '</option>');
                });
            },
            error: function (error) {
                console.error('Error al cargar los niveles de acceso:', error);
            }
        });

        var tabladata;

        tabladata = $("#tablausuarios").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
            url: '@Url.Action("listarUsuarios", "Home")',
            type: "GET",
            dataType: "json"
            },
            "columns": [
                { "data": "documento" },
                { "data": "nombres" },
                { "data": "apellidos" },
                { "data": "nombreusuario" },
                { "data": "correo" },
                { "data": "oNivelAcceso.nombrerol" },
                { "data": "clave" },
                { "data": "fecharegistro" },
                {
                    "data": "estado", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge rounded-pill bg-primary">Activo</span>'
                        } else {
                            return '<span class="badge rounded-pill bg-danger">Inactivo</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-outline-primary btn-editar"><i class="bi bi-pencil-square"></i> &nbsp; Editar</button>' + '<button type="button" class="btn btn-outline-danger ms-2"><i class="bi bi-trash-fill"></i> &nbsp; Eliminar</button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "230px"
                }
            ],
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
            }
        });

        function abrirmodal(json) {
            if (json != null) {
                $("#txtid").val(json.idusuario);
                $("#documento").val(json.documento);
                $('#nombres').val(json.nombres).prop('disabled', true);
                $('#apellidos').val(json.apellidoPaterno + json.apellidoMaterno).prop('disabled', true);
                $('#nombreusuario').val(json.nombreusuario);
                $('#correo').val(json.correo);
                $('#nivelacceso').val(json.oNivelAcceso.idrol);
                $('#clave').val(json.clave);
                $('#listaestado').val(json.estado == true ? 1 : 0);
            }

            var textoBoton = json ? " Guardar Cambios" : " Registrar Usuario";
            $('#UsuariosModal .btn-outline-primary').text(textoBoton);

            var modalTitulo = json ? "Editar Usuario" : "Agregar Nuevo Usuario";
            $("#UsuariosModalLabel").text(modalTitulo);

            $("#UsuariosModal").modal("show");
        }

        $("#tablausuarios tbody").on("click", '.btn-editar', function () {
            var filaseleccionada = $(this).closest("tr");
            var data = tabladata.row(filaseleccionada).data();
            abrirmodal(data)
        })

    </script>
}