
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home section--lg">
    <div class="home__container container grid">
        <div class="home__content">
            <span class="home__subtitle">Hot promocion</span>
            <h1 class="home__title">
                Fashion Trending <span>Great collection</span>
            </h1>
            <p class="home__descripcion">Save more with cupons up to 20% off</p>
            <a href="" class="btn">Comprar Ahora</a>
        </div>

        <img src="~/Assets/img/home-img.png"  alt="" class="home__img" />
    </div>
</section>

<section class="categories container section">
    <h3 class="section__title"><span>Categorias</span> Pulares</h3>
    <div class="categories__container swiper">
        <div class="swiper-wrapper">
            <a href="" class="category__item swiper-slide">
                <img src="~/Assets/img/category/category-1.jpg" alt="" class="category__img" />
                <h3 class="category__title">Damas</h3>
            </a>
            <a href="" class="category__item swiper-slide">
                <img src="~/Assets/img/category/category-2.jpg" alt="" class="category__img" />
                <h3 class="category__title">Caballeros</h3>
            </a>
            <a href="" class="category__item swiper-slide">
                <img src="~/Assets/img/category/category-3.jpg" alt="" class="category__img" />
                <h3 class="category__title">Niños</h3>
            </a>
            <a href="" class="category__item swiper-slide">
                <img src="~/Assets/img/category/category-4.jpg" alt="" class="category__img" />
                <h3 class="category__title">Niñas</h3>
            </a>
            <a href="" class="category__item swiper-slide">
                <img src="~/Assets/img/category/category-5.jpg" alt="" class="category__img" />
                <h3 class="category__title">Babitos</h3>
            </a>
        </div>
        <div class="swiper-button-next"><i class="figure fi-rs-angle-right"></i></div>
        <div class="swiper-button-prev"><i class="figure fi-rs-angle-left"></i></div>
    </div>
</section>

<section class="productos section container">
    <div class="tab__btns">
        <span class="tab__btn active-tab" data-target="#destacado">Destacado</span>
        <span class="tab__btn" data-target="#popular">Popular</span>
        <span class="tab__btn" data-target="#reciente">Nuevo añadido</span>
    </div>
    <div class="tab__items">
        <div class="tab__item active-tab" content id="destacado">
            <div class="products__container grid">
                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-1-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-1-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-pink">hot</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-2-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-2-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-green">-20%</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>

                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-12-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-12-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-orange">hot</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-13-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-13-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-green">hot</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-5-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-5-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-green">hot</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-4-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-4-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-orange">hot</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-11-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-11-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-pink">hot</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-10-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-10-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-green">-20%</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab__item" content id="popular">
            <div class="products__container grid">
                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-9-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-9-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-green">-20%</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-8-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-8-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-pink">hot</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab__item" content id="reciente">
            <div class="products__container grid">
                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-7-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-7-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-pink">hot</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-6-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-6-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-pink">hot</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="deals section">
    <div class="deals__container container grid">
        <div class="deals__item">
            <div class="deals__group">
                <h3 class="deals__brand">Oferta del Dia</h3>
                <span class="deals__category">cantidades Limitadas</span>
            </div>
            <h4 class="deals__title">Summer collection New Morden Design</h4>
            <div class="deals__price flex">
                <span class="new__price">S/. 150.00</span>
                <span class="old__price">S/. 80.99</span>
            </div>
            <div class="deals__group">
                <p class="deals__countdown-text">Hurry up! Oferta termina en: </p>
                <div class="countdown">
                    <div class="countdown__amount">
                        <p class="countdown__period">02</p>
                        <span class="unit">Dias</span>
                    </div>

                    <div class="countdown__amount">
                        <p class="countdown__period">22</p>
                        <span class="unit">Horas</span>
                    </div>

                    <div class="countdown__amount">
                        <p class="countdown__period">30</p>
                        <span class="unit">Minutos</span>
                    </div>

                    <div class="countdown__amount">
                        <p class="countdown__period">09</p>
                        <span class="unit">Segundos</span>
                    </div>
                </div>
            </div>
            <div class="deals__btn">
                <a href="" class="btn btn--md">Compra Ahora</a>
            </div>
        </div>

        <div class="deals__item">
            <div class="deals__group">
                <h3 class="deals__brand">Women clothing</h3>
                <span class="deals__category">cantidades Limitadas</span>
            </div>
            <h4 class="deals__title">Summer collection New Morden Design</h4>
            <div class="deals__price flex">
                <span class="new__price">S/. 150.00</span>
                <span class="old__price">S/. 80.99</span>
            </div>
            <div class="deals__group">
                <p class="deals__countdown-text">Hurry up! Oferta termina en: </p>
                <div class="countdown">
                    <div class="countdown__amount">
                        <p class="countdown__period">02</p>
                        <span class="unit">Dias</span>
                    </div>

                    <div class="countdown__amount">
                        <p class="countdown__period">22</p>
                        <span class="unit">Horas</span>
                    </div>

                    <div class="countdown__amount">
                        <p class="countdown__period">30</p>
                        <span class="unit">Minutos</span>
                    </div>

                    <div class="countdown__amount">
                        <p class="countdown__period">09</p>
                        <span class="unit">Segundos</span>
                    </div>
                </div>
            </div>
            <div class="deals__btn">
                <a href="" class="btn btn--md">Compra Ahora</a>
            </div>
        </div>
    </div>
</section>

<section class="new__arrivals container section">
    <h3 class="section__title"><span>Nuevas</span> Prendas</h3>
    <div class="categories__container swiper">
        <div class="swiper-wrapper">

        </div>
        <div class="swiper-button-next"><i class="figure fi-rs-angle-right"></i></div>
        <div class="swiper-button-prev"><i class="figure fi-rs-angle-left"></i></div>
    </div>
</section>