
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 custom-padding-right">
                <div class="slider-head">
                    <div class="hero-slider">
                        <div class="single-slider" style="background-image: url(../assets/img/hero/slider-bg1.jpg);">
                            <div class="content">
                                <h2>
                                    <span>No restocking fee ($35 savings)</span>
                                    M75 Sport Watch
                                </h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                                <h3><span>Now Only</span> $320.99</h3>
                                <div class="button">
                                    <a href="product-grids.html" class="btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-slider" style="background-image: url(../assets/img/hero/slider-bg2.jpg);">
                            <div class="content">
                                <h2>
                                    <span>Big Sale Offer</span>
                                    Get the Best Deal on CCTV Camera
                                </h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                                <h3><span>Combo Only:</span> $590.00</h3>
                                <div class="button">
                                    <a href="product-grids.html" class="btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
                        <div class="hero-small-banner" style="background-image: url('../assets/img/hero/slider-bnr.jpg');">
                            <div class="content">
                                <h2>
                                    <span>New line required</span>
                                    iPhone 12 Pro Max
                                </h2>
                                <h3>$259.99</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="hero-small-banner style2">
                            <div class="content">
                                <h2>¡Oferta semanal!</h2>
                                <p>Esta semana ahorra hasta un 50 % en todos los artículos de la tienda online.
                                    <br />
                                    Ver Catalogo
                                </p>
                                <div class="button">
                                    <a class="btn" href="@Url.Action("Masproductos", "tienda")">Haz click aqui  <i class="lni lni-pointer-top"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="trending-product section" style="margin-top: 12px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Producto de tendencia</h2>
                    <p>
                        Sumérgete en el mundo de la moda urbana con Hawk, una marca
                        que combina estilo y calidad en cada prenda. Dirigida para aquellos
                        que buscan destacar en la ciudad con un estilo único y moderno.
                    </p>
                </div>
            </div>
        </div>
        <div class="row" id="container_productos">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-product">
                    <div class="product-image">
                        <img src="~/assets/img/products/product-1.jpg" alt="#">
                        <div class="button">
                            <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> Add to Cart</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <span class="category">Watches</span>
                        <h4 class="title">
                            <a href="product-grids.html">Xiaomi Mi Band 5</a>
                        </h4>
                        <ul class="review">
                            <li></li>
                        </ul>
                        <div class="price">
                            <span>$199.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div id="container_productos" class="row row-cols-1 row-cols-md-3 g-3">

                </div>
            </div>
        </div>
    </div>
</section>

