
@{
    ViewBag.Title = "Masproductos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Productos</h4>
                    <div class="breadcrumb__links">
                        <a href="@Url.Action("Index", "Tienda")">Inicio</a>
                        <span>Productos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categorías</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll" id="con_categoria">
                                                <!-- Aquí se llenarán las categorías dinámicamente con JavaScript -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Marcas -->
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Marcas</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul  id="con_marcas">
                                                <!-- Aquí se llenarán las marcas dinámicamente con JavaScript -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Filtro de Precio -->
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filtro de Precio</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="#">$0.00 - $50.00</a></li>
                                                <li><a href="#">$50.00 - $100.00</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Tallas -->
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Tallas</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size"  id="con_tallas">
                                            <!-- Aquí se llenarán las tallas dinámicamente con JavaScript -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Botón Aplicar Filtros -->
                            <div class="card">
                                <div class="card-body">
                                    <a href="#" class="primary-btn" style="border-radius: 5px;">Aplicar Filtros <span class="fa fa-filter"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Mostrando 1–12 de 126 resultados</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="">
                                <ul class="product__hover">
                                    <li><a href="#"><img src="~/img/icon/ojo-abierto.png" alt=""></a></li>
                                    <li>
                                        <a href="#"><span><i class="fa fa-eye"></i>ver</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>Piqué Biker Jacket</h6>
                                <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i> Agregar al carrito</a>
                                <h5>$67.24</h5>
                                <div class="product__color__select">
                                    <label for="pc-4">
                                        <input type="radio" id="pc-4">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">21</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

@section scripts {

    <!-- Js Plugins-->
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script>

        $(document).ready(function () {
            listarCategorias();
        })

        function listarCategorias() {
            jQuery.ajax({
                url: "@Url.Action("ListaCategorias", "Tienda")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#con_categoria").LoadingOverlay("hide");
                    $("#con_categoria").empty();
                    let ul = $("<ul>").addClass("nice-scroll");
                    ul.append($("<li>").append($("<a>").attr({ "href": "#", "value": "0" }).text("Todos")));
                    $.each(response.data, function (i, element) {
                        ul.append($("<li>").append($("<a>").attr({ "href": "#", "value": element.idcategoria }).text(`${element.nombrecategoria} (${element.productCount})`)));
                    });
                    $("#con_categoria").append(ul);
                },
                beforeSend: function () {
                    $("#con_categoria").LoadingOverlay("show");
                }
            });
        }

        function listarMarcas() {
            jQuery.ajax({
                url: "@Url.Action("FiltroMarca", "Tienda")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#con_marcas").LoadingOverlay("hide");
                    $("#con_marcas").empty();
                    let ul = $("<ul>");
                    ul.append($("<li>").append($("<a>").attr({"href": "#", "value": "0"}).text("Todos")));
                    $.each(response.data, function (i, element) {
                        ul.append($("<li>").append($("<a>").attr({"href": "#", "value": element.idmarca}).text(element.nombremarca)));
                    });
                    $("#con_marcas").append(ul);
                },
                beforeSend: function () {
                    $("#con_marcas").LoadingOverlay("show");
                }
            });
        }

        function mostrarTallas() {
            var _idcategoria = $("input[name=categoria]:checked").val();
            jQuery.ajax({
                url: "@Url.Action("FiltroTallas", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idcategoria: _idcategoria }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#con_tallas").html("");
                    $("#con_tallas").LoadingOverlay("hide");
                    let div = $("<div>").addClass("shop__sidebar__size");
                    div.append($("<label>").append("Todos").attr("for", "tx"));
                    $.each(response.data, function (i, element) {
                        div.append(
                            $("<label>").attr("for", "t" + i).text(element.nombretalla).append(
                                $("<input>").attr({
                                    "type": "radio",
                                    "name": "tallasropa",
                                    "value": element.idtallaropa,
                                    "id": "t" + i
                                })
                            )
                        );
                    });
                    $("#con_tallas").append(div);
                },
                beforeSend: function () {
                    $("#con_tallas").LoadingOverlay("show");
                }
            });
        }

        $("#btn_aplicarfiltro").click(function () {
            var _idcategoria = $("input[name=categoria]:checked").val()
            var _idmarca = $("input[name=marcas]:checked").val()
            var _idtallaropa = $("input[name=tallasropa]:checked").val()
            mostrarFiltros(_idcategoria, _idmarca, _idtallaropa);
        })

    </script>
}
