
@{
    ViewBag.Title = "Niños";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="productos section container">
    <h3 class="section__title"><span>Categorias d</span>e niños</h3>
    <div class="tab__btns">
        <span class="tab__btn active-tab" data-target="#destacado">Todos</span>
        <span class="tab__btn" data-target="#popular">Descuento</span>
        <span class="tab__btn" data-target="#reciente">Nuevos</span>
    </div>
    <div class="tab__items">
        <div class="tab__item active-tab" content id="destacado">
            <div class="products__container grid">
                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-1-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-1-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-pink">hot</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-2-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-2-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-green">-20%</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>

                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-12-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-12-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-orange">recien agregados</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-13-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-13-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-green">hot</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-5-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-5-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-green">hot</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab__item" content id="popular">
            <div class="products__container grid">
                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-9-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-9-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-green">-20%</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-8-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-8-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab__item" content id="reciente">
            <div class="products__container grid">
                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-7-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-7-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-pink">hot</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>

                <div class="product__item">
                    <div class="product__banner">
                        <a href="" class="product__images">
                            <img src="~/Assets/img/productos/product-6-1.jpg" alt="" class="product__img default" />
                            <img src="~/Assets/img/productos/product-6-2.jpg" alt="" class="product__img hover" />
                        </a>
                        <div class="product__actions">
                            <a href="" class="action__btn" aria-label="Vista Rapida">
                                <i class="fi fi-rs-eye"></i>
                            </a>
                            <a href="" class="action__btn" aria-label="Agregar al carrito">
                                <i class="fi fi-rs-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="product__badge ligt-orange">recien agregado</div>
                    </div>

                    <div class="product__content">
                        <span class="product__category">clothing</span>
                        <a href="">
                            <h3 class="product__title">Polo hongeadito</h3>
                        </a>
                        <div class="product__price flex">
                            <span class="new__price">S/.30.00</span>
                            <span class="old__price">S/.56.50</span>
                        </div>
                        <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-bag-add"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>